*{
    margin: 0;
    padding: 0;
}
body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #F2F2F2 0%, #BFAB9F 50%, #D9D5D2 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    width: 65%;
    padding: 30px 35px;
    margin: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    margin: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    box-shadow: 3px 10px 20px #787878;
}

.card-login > h1{
    cursor:default;
    margin: 10px;
    color: #262624;
    text-shadow: 2px 2px 5px white;
    
    /* border-bottom: 1px solid wheat; */
}


.textfield{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfield > input{
    color:black ;
    outline: none;
    border: 0;
    border-bottom: 1px solid wheat;
    width: 100%;
    padding: 10px;
    background: transparent;
    margin-left: 10px;
    margin-bottom: 20px;
}

.esqueceu-senha{
    color:black ;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.textfield-senha{
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 200px ;
    outline: none;
}
.textfield-senha > .opcao1{
    text-decoration: none;
    color:#735443;
}
.textfield-senha > .opcao2{
    text-decoration: none;
    color:#808080;
}

.textfield-senha-sign-up > .opcao3{
    text-decoration: none;
    color:#735443;
}

.textfield ::placeholder{
    color:#735443;
}

.btn{
    width: 50%;
    border: 0;
    color: white;
    background-color: #735443;
    border-radius: 13px;
    padding: 7px;
    margin: 10px;
    box-shadow: 6px 6px 8px white;
    cursor: pointer;
}

.redes{
    padding: 30px;
    text-decoration: none;
}

.redes2{
    padding: 5px;
    color: #735443;
    width: 65vh;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.hvredes{
    padding: 5px;
    color: #735443;
    width: 65vh;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.espaco{
    padding-bottom: 10px;
}

.redes >h3 {
    color: #735443;
    display: flex;
    justify-content: center;
    padding-bottom:12px ;
}

.hvredes:hover{
    text-shadow: 2px 2px 5px white;
    background: #BFAB9F;
    color: gray;
}

.redes2:hover{
    text-shadow: 2px 2px 5px white;
    background: #BFAB9F;
    color: gray;
}


.btn:hover{
    height: 40%;
    width: 55%;
    border: 0;
    color: white;
    background-color: #735443;
    border-radius: 13px;
    padding: 9px;
    margin: 10px;
    box-shadow: 6px 6px 7px white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.textfield-senha > .opcao1:hover{
    color: #808080;

}

.textfield-senha > .opcao2:hover{
    color: #735443;

}

@media (max-width:1320px){
    .hvredes{
        width: 42vh;
    }

    .redes2{
        width: 42vh;
    }

    .textfield-senha{
        gap:170px;
    }
}



@media (max-width:944px){
    .hvredes{
        width: 35vh;
    }

    .redes2{
        width: 35vh;
    }

    .textfield-senha{
        gap:65px;
    }
}

@media (max-width:600px){
    .main-login{
        width: 100vw;
        height: 65vh;
    }

    .card-login{
        width: 40vh;

    }

    .hvredes{
        width: 30vh;
    }

    .redes2{
        width: 30vh;
    }

    .textfield-senha{
        gap:65px;
    }


}

@media (max-width:400px){
    .main-login{
        width: 100vw;
        height: 100vh;
    }

    .card-login{
        width: 40vh;

    }

    .hvredes{
        width: 30vh;
    }

    .redes2{
        width: 30vh;
    }

    .textfield-senha{
        gap:65px;
    }


}
